{% extends "backbone.html" %}

{% block wrapper %}
<script>
	openChannel = function() {
		var token = '{{ token }}';
		var channel = new goog.appengine.Channel(token);
		var handler = {
			'onopen': onOpened,
			'onmessage': onMessage,
			'onerror': function() {},
			'onclose': function() {}
		};
		var socket = channel.open(handler);
		socket.onopen = onOpened;
		socket.onmessage = onMessage;
	}
	setTimeout(openChannel, 100);
</script>
<div id="wrapper">
	<header>
		<div class="title">School Tagging application</div>
		<div id="login_tools">
			{% if not username %}
			<a href="/delete">Clean Datastore</a>
			|
			<a href="/t/login">Teacher Login</a>
			|
			<a href="/s/login">Student Login</a>
			|
			<a href="/t/signup">Signup</a>
			|
			{% else %}
			<a href="/t/logout">Logout</a>
			|
			{% endif %}
			Connection status: <strong>{{username}}</strong> <div id="connection_status"></div>
			<button id="show_html">show html code</button>
		</div>
	</header>
	{% block payload %}
	{% endblock %}
</div>
{% endblock %}
