{% extends "wrapper.html" %}

{% block title %}
<title>school-tagging|inizio</title>
{% endblock %}
{% block script %}
<script>
$(document).ready(function () {if (navigator.cookieEnabled){
	$("noscript").remove();
	
	
	$("#start").html('<center><table width=70% border=0><tr><td width=50%><center><div style="margin:40px;"><div class="start_button"><a href="/s/login"><i class="fa fa-child" style="color:#000;font-size:60px;"></i><br/>STUDENT</a></div></div></center></td>'+
	'<td width=50%><center><div style="margin:40px;"><div class="start_button"><a href="/t/login"><i class="fa fa-graduation-cap" style="color:#000;font-size:60px;"></i><br/>TEACHER</a></div></div></center></td></tr></table></center>');
	

	{% if resumeDashboardLink %}
	$("#start").append(
		$(document.createElement("div")).append(
		$(document.createElement("a"))
		.attr("href", "{{resumeDashboardLink}}")
		.text("Hai interrotto una sessione? Prova a cliccare qui per riprenderla")));
	{% endif %}
	}
	else {
		$("#start").append($(document.createElement("div"))
			.text("Cookies must be enable to continue"));
	}});
</script>
{% endblock %}
{% block content %}
<noscript>JavaScript should be enabled to continue</noscript>
<div id="start"></div>
{% endblock %}
