{% extends "wrapper.html" %}

{% block title %}
<title>school-tagging|inizio</title>
{% endblock %}
{% block script %}
<script>
$(document).ready(function () {if (navigator.cookieEnabled){
	$("noscript").remove();
	$("#start").append(
		$(document.createElement("div")).append(
			$(document.createElement("a"))
				.attr("href", "/s/login").text("Sono una studentessa / uno studente")));
	$("#start").append(
		$(document.createElement("div")).append(
			$(document.createElement("a"))
			.attr("href", "/t/login").text("Sono una / un insegnante")));
	{% if resumeDashboardLink %}
	$("#start").append(
		$(document.createElement("div")).append(
		$(document.createElement("a"))
		.attr("href", "{{resumeDashboardLink}}")
		.text("Hai interrotto una sessione? Prova a cliccare qui per riprenderla")));
	{% endif %}
	}
	else {
		$("#start").append($(document.createElement("div"))
			.text("Cookies must be enable to continue"));
	}});
</script>
{% endblock %}
{% block content %}
<noscript>JavaScript should be enabled to continue</noscript>
<div id="start"></div>
{% endblock %}
