{% extends "wrapper.html" %}

{% block title %}
<title>school-tagging|student|login</title>
{% endblock %}

{% block content %}
<div>Please enter your name and your session ID provided by your teacher</div>
<form method="post" action="/s/login">
	<label for="un">Name and Last Name</label>
	<input type="text" name="username" id="un">
	<label for="ln">Session ID</label>
	<input type="text" name="lessonName" id="ln">
	{% if message %}
	<div class="message">{{message}}</div>
	{% endif %}
	<input type="submit" value="Go to class exercise">
</form>

{% endblock %}
