{% extends "wrapper.html" %}

{% block title %}
<title>{{labels["page_title"]}}</title>
{% endblock %}

{% block content %}
<div style="margin-left:20px;margin-top:50px">
<h5>{{labels["enter_username_and_lesson"]}}</h5>
<form method="post" action="/s/login">
	<label for="un">{{labels["name_and_surname"]}}</label>
	<input type="text" name="username" id="un">
	<label for="ln">{{labels["session_id"]}}</label>
	<input type="text" name="lessonName" id="ln">
	{% if message %}
	<div>{{labels["message_title"]}}</div>
	<div><strong>{{message}}</strong></div>
	{% endif %}
	<input type="submit" value="{{labels['login_button']}}">
</form>
</div>
{% endblock %}
