{% extends "wrapper.html" %}

{% block title %}
<title>{{labels["page_title"]}}</title>
{% endblock %}

{% block script %}
<script src="/static/studentDashboard.js"></script>
{% endblock %}

{% block content %}
<div class="student_block">
<div class="student_disconnect"><a href="/s/logout">{{labels["logout"]}}</a></div>
<div class="student_content">
<div>{{labels["student_title"]}}: {{studentName}}</div>
<div id="lessonName">{{labels["lesson_name_title"]}}: {{lessonName}}<hr/></div>
</div>
</div>
{% endblock %}
