{% extends "wrapper.html" %}

{% block title %}
<title>{{labels["page_title"]}}</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/static/teacherLogin.css" />
{% endblock %}
{% block content %}
<div style="margin-left:20px;">
<h3>First Step.</h3>

<form method="post" action="/t/signup">
	<div>{{labels["signup_title"]}}</div>
	<div>{{labels["do_not_have_account"]}}</div>
	<label for="un">{{labels["username"]}}</label>
	<input type="text" name="username" id="un">
	<label for="pw">{{labels["password"]}}</label>
	<input type="password" name="password" id="pw">
	<input type="submit" value="{{labels['signup_button']}}">
</form>

<hr/>
<h3>Next Step.</h3>
<form method="post" action="/t/login">
	<div>{{labels["login_title"]}}</div>
	<div>{{labels["insert_username_password"]}}</div>
	<label for="un">{{labels["username"]}}</label>
	<input type="text" name="username" id="un">
	<label for="pw">{{labels["password"]}}</label>
	<input type="password" name="password" id="pw">
	<label for="ln">{{labels["lesson_name"]}}</label>
	<input type="text" name="lessonName" id="ln">
	<input type="submit" value="{{labels['login_button']}}">
</form>

{% if message %}
<div>{{labels["message_title"]}}</div>
<div><strong>{{message}}</strong></div>
{% endif %}
</div>
{% endblock %}
