{% extends "wrapper.html" %}

{% block title %}
<title>school-tagging|teacher|dashboard</title>
{% endblock %}

{% block script %}
<script src="/static/teacherDashboard.js"></script>
{% endblock %}

{% block content %}
<a href="/t/logout">Logout</a>
<div>Teacher: {{teacherName}}</div>
<div>Lesson name: {{lessonName}}</div>
<div id="students">Enrolled students:
	{% for student in students %}
	<div id="{{student}}" class="studentName">{{loop.index}}. {{student}}</div>
	{% endfor %}
</div>
<button id="startExercise">Start Exercise</button>
<a href="/t/endLesson">End lesson and view results</a>
<div id="dashboard"></div>
{% endblock %}
