<!DOCTYPE html>
<html>
<head>
{% if env == "production" %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% else %}
<script src="/static/js/jquery.min.js"></script>
{% endif %}
{% if token %}
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
{% endif %} {% block title %}{% endblock %}
<meta name="description" content="school tagging app">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="/static/wrapper.js"></script>
{% block script %}{% endblock %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" href="/static/wrapper.css" />
<link rel="stylesheet" type="text/css" href="/static/student.css" />
<link rel="stylesheet" type="text/css" href="/static/teacher.css" />
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css" />

<script type="text/javascript" src="/static/js/json2.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>


<script src="/static/js/bootstrap.min.js"></script>
{% block style %}{% endblock %}
</head>
<body>
	<header style="min-width:400px">
	 <div class="language current">IT</div>
	 <div class="navbar navbar-inverse navbar-fixed-top" style="min-width:400px">
      <div class="navbar-inner">
        <div class="container" style="position: absolute; left :20px;width:300px;" >  
          <p class="brand" style=" font-family: KGSecondChancesSketch; font-size:30px;color:#fff;" href="#">School Tagging</p>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/help" target="_blank" style="display:none">Click here for help</a></li>
              <li><a><div id="language_switch" style="display:none">Switch language
				<div class="language{% if language == 'EN' %} current{% endif %}">EN</div>
				<div class="language{% if language == 'IT' %} current{% endif %}">IT</div>
				</div></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	</header>
	<div id="content">
	{% block content %}{% endblock %}
	</div>
	{% if token %}
	<script>
			openChannel = function() {
				var token = '{{ token }}';
				var channel = new goog.appengine.Channel(token);
				var handler = {
					'onopen': onOpened,
					'onmessage': onMessage,
					'onerror': onError,
					'onclose': onClose
				};
				var socket = channel.open(handler);
				socket.onopen = onOpened;
				socket.onmessage = onMessage;
			}
			setTimeout(openChannel, 100);
		</script>
	{% endif %}
</body>
</html>
