<!DOCTYPE html>
<html>
	<head>
		<script src="/static/jquery-1.11.0.js"></script>
		{% if token %}
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		{% endif %}
		{% block title %}{% endblock %}
		<meta name="description" content="school tagging app">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		{% block script %}{% endblock %}
<style>
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
	</style>
</head>
	<body>
		<div><a href="/help" target="_blank">Click here for helps</a></div>
		{% if token %}
		<script>
			openChannel = function() {
				var token = '{{ token }}';
				var channel = new goog.appengine.Channel(token);
				var handler = {
					'onopen': onOpened,
					'onmessage': onMessage,
					'onerror': function() {},
					'onclose': function() {}
				};
				var socket = channel.open(handler);
				socket.onopen = onOpened;
				socket.onmessage = onMessage;
			}
			setTimeout(openChannel, 100);
		</script>
		{% endif %}
		{% block content %}
		{% endblock %}
	</body>
</html>
