@import url(http://fonts.googleapis.com/css?family=Roboto:500,400);

body {
	font-family: Roboto, Verdana, sans-serif;
	font-weight: 400;
	}

a {
	text-decoration: none;
	color: #010323;
	}


header {
	display: inline;
	}

footer {
	position: absolute;
	bottom: 10%;
	}
	
#title {
	display: inline;
	}

#login_tools {
	display: inline;
	position: relative;
	left: 10%;
	}
	
h1 {
	color: #010323;
	font-size: 1.5em;
	display: inline;
	text-transform: uppercase;
	}

h4 {
	color: #090169;
	font-size: 1.2em;
	}
	
h3 {
	color: #0C0244;
	font-size: 1em;
	}
	
#wrapper {
	
	}
	
#content, #signup {
	
	}
	
.error {
	color: red;
	}

.user {
	background-color: #FFFFFF;
	display: inline-block;
	font-size: 0.8em;
	margin: 3px;
	}

#userlist {
	background-color: #F2F2F2;
	font-size: 0.8em;
	}

.msg {
	font-size: 0.8em;
	color: #626165;
	display: block;
	background-color: #E4E4E4
	}

#message_board {
	display: block;
	background-color: #EFEFEF;
	font-size: 0.8em;
	}
