body {
	height: 100%;
	width: 100%;
}

#content {
	position: absolute;
	height: 90%;
	width: 98%;
	left: 1%;
	border: 1px solid red;

}

#exercise_area {
	display: inline;
	float: left;
	height: 70%;
	width: 48%;
	left: 1%;
	border: 1px solid blue;
	overflow: scroll;
}

#exercise_area .exercise {
	display: block;
	font-size: 1.6em;
	margin: 2px;
	padding: 2px;
	background-color: PowderBlue;
}
	
#students_area {
	position: relative;
	left: 2%;
	display: inline;
	float: left;
	height: 70%;
	width: 48%;
	border: 1px solid yellow;

}

#students_area .student_dashboard {
	display: block;
	font-size: 1.6em;
	margin: 2px;
	padding: 2px;
	background-color: Orange;

}

#classroom_area {
	display: block;
	float: left;
	height: 30%;
	width: 90%;
	border: 1px solid green;


}

#exercise_status, #answers_stats {
	display: inline;
	float: left;
	margin: 5px;
	padding: 3px;
	font-size: 0.8em;
	color: Teal;
	}

.word {
	display: inline;
	}
button.exercise_type_choice {
	font-size: 0.8em;
	color: red;
	}


.box {
	border: 1px solid blue;
	display: inline;
	font-size: 0.6em;
	margin: 2px;
	padding: 2px;
	}

.raw_box {
	background-color: white;
	color: black;
	}

.wrong_box {
	background-color: red;
	color: white;
	}

.correct_box {
	background-color: green;
	color: white;
	}

#students_count, #respondents_count, #winners_count {
	display: inline;
	}
