
#main_teacher_menu {
	border: 1px solid blue;
	padding: 3px;
	margin: 3px;
	height: 10px;
	font-size: 0.6em;
	}

#exercises_menu {
	border: 1px solid blue;
	padding: 3px;
	margin: 3px;

	}

#dashboard {
	border: 1px solid blue;
	padding: 3px;
	margin: 3px;
	height: 100px;

	}

.section_header {
	font-size: 0.8em;
	color: blue;
	}

button.exercise_type {
	font-size: 0.6em;
	color: blue;
	margin: 2px;
	}

#exercises_list .sentence {
	font-size: 0.8em;
	color: blue;
	}

.student_dashboard {
	background-color: #E5E5E5;
	color: green;
	margin: 1px solid black;
	height: 50px;
	}
	
#exercise_list {
	background-color: #E8E8E8;
	font-size: 0.8em;
	}

.word {
	display: inline;
	}

.button_area, .sentence_body {
	display: inline;
	}
	
button.exercise_type_choice {
	font-size: 0.8em;
	color: red;
	}


.box {
	border: 1px solid blue;
	display: inline;
	font-size: 0.6em;
	margin: 2px;
	padding: 2px;
	}

.raw_box {
	background-color: white;
	color: black;
	}

.wrong_box {
	background-color: red;
	color: white;
	}

.correct_box {
	background-color: green;
	color: white;
	}
