<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href= "/static/main.css" />
		<title>
		{% block title %}
		{% endblock %}
		</title>
		<meta name="description" content="school tagging app">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script src="/static/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="/_ah/channel/jsapi"></script>
		<script src="/static/main.js"></script>
	</head>
	<body>
		{% block wrapper %}
		{% endblock %}
	</body>
</html>
