{% extends "wrapper.html" %}

{% block role_links %}
<script src="/static/join_lesson.js"></script>
<link type="text/css" rel="stylesheet" href= "/static/join_lesson.css" />
{% endblock %}

{% block payload %}
<div id="content">
	<div id="choose_teacher">
		<form method="POST">
		Select the teacher
			<select name="teacher">
			{% for teacher in current_teachers %}
			<option value="{{teacher}}">{{teacher}}</option>
			{% endfor %}
			</select>
			<input type="submit" />
		</form>
	</div>
</div>
{% endblock %}
