{% extends "wrapper.html" %}

{% block content %}
<div id="content">
	<h2>Login</h2>
    <form method="post">
		<table>
			<tr>
				<td class="label">Username</td>
				<td><input type="text" name="username" value="{{username}}"></td>
			</tr>
			<tr>
				<td class="label">Password</td>
				<td><input type="password" name="password"></td>
			</tr>
			<tr><td class="error">{{login_error}}</td></tr>
			<tr>
				<td><input type="submit"></td>
			</tr>
		</table>
	</form>
	<hr>
</div>
{% endblock %}
