{% extends "wrapper.html" %}

{% block content %}
<div id="content">
	<h2>Signup</h2>
    <form method="post">
		<table>
			<tr>
				<td class="label">Username</td>
				<td><input type="text" name="username" value="{{username}}"></td>
				<td class="error">{{username_error}}</td>
			</tr>
			<tr>
				<td class="label">Password</td>
				<td><input type="password" name="password"></td>
				<td class="error">{{password_missing_error}}</td>
			</tr>
			<tr>
				<td class="label">Verify Password</td>
				<td><input type="password" name="verify"></td>
				<td class="error">{{password_match_error}}</td>
			</tr>
			<tr>
				<td class="label">Email (optional)</td>
				<td><input type="text" name="email" value="{{email}}"></td>
				<td class="error">{{mail_error}}</td>
			</tr>
			<tr>
				<td><input type="submit"></td>
			</tr>
		</table>
	</form>
	<hr>
</div>
{% endblock %}
