{% extends "wrapper.html" %}
{% block role_links %}
<link type="text/css" rel="stylesheet" href= "/static/login.css" />
{% endblock %}
{% block payload %}
<div id="signup">
	<h2>Signup</h2>
    <form method="post">
		<label>Username</label>
		<input type="text" name="username" value="{{username}}">
		{% if error %}
		<div class="error">{{error}}</div>
		{% endif %}
		<label>Password</label>
		<input type="password" name="password">
		<label>Verify Password</label>
		<input type="password" name="verify">
		<label>Lesson name</label>
		<input type="text" name="lessonName">
		<input type="submit" value="Register my data and start lesson">
	</form>
	<hr>
</div>
{% endblock %}
