{% extends "wrapper.html" %}

{% block content %}
<div id="signup">
	<h2>Signup</h2>
    <form method="post">
		<label>Role</label>
		<select name="role">
			<option>students</option>
			<option>teachers</option>
		</select>
		<br>
		<label>Username</label>
		<input type="text" name="username" value="{{username}}">
		<div class="error">{{username_error}}</div>
		<label>Password</label>
		<input type="password" name="password">
		<div class="error">{{password_missing_error}}</div>
		<label>Verify Password</label>
		<input type="password" name="verify">
		<div class="error">{{password_match_error}}</div>
		<input type="submit">
	</form>
	<hr>
</div>
{% endblock %}
