{% extends "wrapper.html" %}

{% block role_links %}
<script src="/static/start_session.js"></script>
<script src="/static/jquery.jqplot.min.js"></script>
<script src="/static/plugins/jqplot.barRenderer.min.js"></script>
<script src="/static/plugins/jqplot.pieRenderer.min.js"></script>
<script src="/static/plugins/jqplot.pointLabels.min.js"></script>
<link type="text/css" rel="stylesheet" href= "/static/start_session.css" />
<link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.css" />
{% endblock %}

{% block payload %}
<div id="content">
	<div id="exercise_area">
	{% for exercise in exercise_list %}
		<div class="exercise" id="{{exercise.id}}">
			<div class="sentence">
				{{exercise.sentence}}
			</div>
			<div class="buttons">
				{% for goal in exercise.goals %}
				<button class="exercise_type" id="{{goal.type}}">
					{{goal["description"]}}
				</button>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	</div>
	<div id="students_area">
	{% for student in students_list %}
		<div class="student_dashboard" id="{{student}}">
			<div class="name">{{student}}</div>
			<div class="exercise_content"></div>
			<div class="exercise_status"></div>
			<div class="response_time"></div>
		</div>
	{% endfor %}
	</div>
	
	<div id="classroomStatisticsArea">
		<div id="chartRespondents">
			<div class="title">Students responding</div>
			<div class="chart" id="respondentsBarChart"></div>
		</div>
		<div id="chartAnswers">
			<div class="title">Answers given</div>
			<div class="chart" id="answersPieChart"></div>
		</div>
	</div>
</div>
{% endblock %}
