{% extends "wrapper.html" %}

{% block role_links %}
<script src="/static/start_session.js"></script>
<link type="text/css" rel="stylesheet" href= "/static/start_session.css" />
{% endblock %}

{% block payload %}
<div id="content">
	<div id="exercise_area">
		<div id="data_exercise" data-exercise="{{exercise_list}}" class="hidden"></div>
	{% for exercise in exercise_list %}
		<div class="exercise" id="{{exercise.id}}">
			<div class="sentence">
				{{exercise.sentence}}
			</div>
			<div class="buttons">
				{% for goal in exercise.goals %}
				<button class="exercise_type" id="{{goal.type}}">
					{{goal["description"]}}
				</button>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
	</div>
	<div id="students_area">
	{% for student in students_list %}
		<div class="student_dashboard" id="{{student}}">
			<div class="name">{{student}}</div>
			<div class="exercise_content"></div>
			<div class="exercise_status"></div>
			<div class="response_time"></div>
		</div>
	{% endfor %}
	</div>
	
	<div id="classroom_area"></div>
</div>
{% endblock %}
