{% extends "wrapper.html" %}

{% block role_links %}
<script src="/static/teacher.js"></script>
<link type="text/css" rel="stylesheet" href= "/static/teacher.css" />
{% endblock %}
{% block payload %}
<div id="content">
	<div id="main_teacher_menu">.. coming soon the main teacher menu..</div>
	<div id="exercises_menu">
		<div class="section_header">Exercises menu</div>
		{% for type in exercises_types %}
		<button class="exercise_type" id="choose_type_{{loop.index}}">
			List for {{type.name}}
		</button>
		{% endfor %}
	</div>
	<div id="dashboard">
		<div class="section_header">Dashboard</div>
		<div id="students_data">
			{%for student in logged %}
			<div class="student_dashboard" id="{{student}}">
				<div class="name">{{student}}</div>
				<div class="exercise_content"></div>
				<div class="exercise_status"></div>
				<div class="response_time"></div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
