{% extends "backbone.html" %}

{% block title %}
school-tagging application
{% endblock %}

{% block wrapper %}
<div id="wrapper">
	<header>
		<div id="title">
			<h1><a href="/welcome">School Tagging application</a></h1>
		</div>
		<div id="login_tools">
			<a href="/check/in">Login</a>
			|
			<a href="/check/up">Signup</a>
			|
			<a href="/check/out">Logout</a>
		</div>
	</header>
	<div id="welcome">Welcome {{username}}</div>
	<button id="show_html">show html code</button>
	{% block payload %}
<!--
	
-->
	{% endblock %}
	<footer>
		<div id="message_board">
			<h2>Message Board</h2>
			<input type="text" name="message" placeholder="type message">
			<button id="send_message">Send message</button>
			<button id="clear_messages">Clear history</button>
			<h2>Message History</h2>
			<div id="all_messages">
			{% for message in messages %}
				<div class="msg">
					{{message["timestamp"]}} 
					| {{message["username"]}} 
					| <strong>{{message["message"]}}</strong>
				</div>
			{% endfor %}
			</div>
		</div>
		<div id="userlist">
			<div>Who's logged in</div>
		{% for user in logged %}
			<div class="user" id="{{user}}">
				<div><strong>{{user}}</strong></div>
			</div>
		{% endfor %}
		</div>
	</footer>
</div>
<!--
	javascript code for the Channel API
-->
<script>
	channel = new goog.appengine.Channel('{{token}}');
	socket = channel.open();
	socket.onopen = onOpened;
	socket.onmessage = onMessage;
	socket.onerror = function(){};
	socket.onclose = onClose;
</script>
{% endblock %}
