
#main_student_menu {
	border: 1px solid blue;
	padding: 3px;
	margin: 3px;
	height: 10px;
	font-size: 0.6em;
	}

#exercise_area {
	border: 1px solid blue;
	padding: 3px;
	margin: 3px;

	}

.section_header {
	font-size: 0.8em;
	color: blue;
	}

#exercise {
	background-color: #C0C0C0;
	margin: 20px;
	padding: 10px;
	}
	
#exercise .instructions {
	font-size: 0.8em;
	font-weight: bold;
	color: blue;
	}

#exercise #target {
	font-size: 1.5em;
	color: red;
	background-color: #ECEBED;
	}

.word {
	display: inline;
	}
