body {
	height: 100%;
	width: 100%;
}

#content {
	position: absolute;
	height: 90%;
	width: 98%;
	left: 1%;
	border: 1px solid red;

}

#exercise_area {
	display: inline;
	float: left;
	height: 60%;
	width: 48%;
	left: 1%;
	overflow: scroll;
}

#exercise_area .exercise {
	display: block;
	font-size: 1.2em;
	margin: 2px;
	padding: 2px;
	background-color: PowderBlue;
}
	
#students_area {
	position: relative;
	left: 2%;
	display: inline;
	float: left;
	height: 60%;
	width: 48%;
	overflow: scroll;
}

.student_dashboard {
	display: block;
	background-color: Orange;
}

.student_dashboard .name {
	font-size: 1.4em;
	margin: 2px;
	padding: 2px;
	background-color: PaleGoldenrod;
}
.student_dashboard .exercise_area {
	font-size: 1.2em;
	margin: 2px;
	padding: 2px;
	background-color: Khaki;
}

#classroomStatisticsArea {
	display: block;
	float: left;
	height: 40%;
	width: 90%;
}


#classroomStatisticsArea #respondentsBarChart {
	float: left;
	height: 100%;
	width: 60%;
}

#classroomStatisticsArea #answersPieChart {
	float: left;
	height: 100%;
	width: 40%;
}

#classroomStatisticsArea #respondentsBarChart .jqplot-point-label {
	font-weight: bold;
	font-size: 1.4em;
	}
.word {
	display: inline;
	}
button.exercise_type_choice {
	font-size: 0.8em;
	color: red;
	}


.box {
	border: 1px solid blue;
	display: inline;
	font-size: 0.6em;
	margin: 2px;
	padding: 2px;
	}

.raw_box {
	background-color: white;
	color: black;
	}

.wrong_box {
	background-color: red;
	color: white;
	}

.correct_box {
	background-color: green;
	color: white;
	}

#students_count, #respondents_count, #winners_count {
	display: inline;
	}
