@font-face {
  font-family: CrayonCrumble;
  font-style: normal;
  src: local('DK Crayon Crumble'), local('DKCrayonCrumble'), url('fonts/dk_crayon_crumble-webfont.woff') format('woff');
}

@font-face {
  font-family: LearningCurve;
  font-style: normal;
  src: local('Learning Curve'), local('LearningCurve'), url('fonts/learningcurve-webfont.woff') format('woff');
}

.teacher_blockquote { 

margin: 0px; 
padding: 0px 20px 20px 20px; 
color:#000; 
font: bold 1.4em  "Comic Sans MS", verdana; 
height: 100%;
width: 100%;
position:absolute;

} 


blockquote p { 
margin: 0; 
}


.answer_teacher_button{
	border:solid 4px #585858;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
margin-left: 4px;
padding-left: 4px;
overflow: hidden;

	
}

.answer_teacher_button:hover{
	background-color: rgba(96,96,96,0.5)
}



.excercise{
	 text-align: center;
	 line-height: 40px;
}

.styled-select {
	font: bold 20px  "Comic Sans MS", verdana; 
	color : #000;
   background: transparent;
   overflow: hidden;
   width: auto;
}

.styled-select select {
   background: transparent;
   border: none;
   font: bold 20px  "Comic Sans MS", verdana; 
	color : #000;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}



.teacher_disconnect{
	position:absolute; 
	top: 8px;
	z-index:10000;
	right :20px;
}