@font-face {
  font-family: CrayonCrumble;
  font-style: normal;
  src: local('DK Crayon Crumble'), local('DKCrayonCrumble'), url('fonts/dk_crayon_crumble-webfont.woff') format('woff');
}

@font-face {
  font-family: LearningCurve;
  font-style: normal;
  src: local('Learning Curve'), local('LearningCurve'), url('fonts/learningcurve-webfont.woff') format('woff');
}

.teacher_blockquote { 

margin: 0px; 
padding: 0px 20px 20px 20px; 
color:#000; 
font: bold 1.4em  "Comic Sans MS", verdana; 
height: 100%;
width: 100%;
position:absolute;

} 


blockquote p { 
margin: 0; 
}


.answer_teacher_button{
	border:solid 4px #585858;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
margin-left: 4px;
padding-left: 4px;
overflow: hidden;

	
}

.answer_teacher_button:hover{
	background-color: rgba(96,96,96,0.5)
}



.excercise{
	 text-align: center;
	 line-height: 40px;
}

.styled-select {
	font: bold 20px  "Comic Sans MS", verdana; 
	color : #000;
	height: 35px;
	padding: 0px;
   background: transparent;
   overflow: hidden;
   width: auto;
   

}

.styled-select select {
   background: transparent;
   border: none;
   font: bold 15px  "Comic Sans MS", verdana; 
	color : #000;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;

}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.teacher_disconnect{
	position:absolute; 
	top: 8px;
	z-index:10000;
	right :20px;
}



.word_teacher{
	margin-right: 8px;
}


.instruction_teacher{
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	color: #2969ff
}


.char_teacher{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.selected_teacher{
	background-color: rgba(215, 44, 44, 0.5);
	background: rgba(215, 44, 44, 0.5);

}