@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

body {
	font-family: OpenSans, "Trebuchet MS", "Sans-Serif";
	font-size: 1.1em;
}

.language {
	display: inline;
	background-color: #eee;
	color: #000;
	margin: 2px;
	padding: 1px;
}

.current {
	color: #0f0;
}

header {
}

#content {
}