@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: KGSecondChancesSketch;
  font-style: normal;
  src: local('KG Second Chances Sketch'), local('KGSecondChancesSketch'), url('fonts/kgsecondchancessketch-webfont.woff') format('woff');
}



ol{
	padding: 0px; 
    list-style-position:inside;
}

ol li{
	float:left;
	margin-right: 40px;
	cursor: pointer;
}



.start_button{
	border-style: none;
	border-width: thin;
	border-radius: 6px;
	border-color: #a79f9f;
	margin-left: 10px;
	margin-right: 10px;
	width:auto;
}

.start_button :hover{
	color: #756e6e;
}

body {

	margin: 0px;
	padding: 0px;
}

.language {
	display: none;
	background-color: #eee;
	color: #000;
	margin-left: 5px;
	padding: 1px;
}

.current {
	color: #0f0;
}

header {

}

#content {
margin-top: 40px;
}